torch
torchvision>=0.5
opencv-python-headless
scipy
numpy
Pillow
scikit-image
python-bidi
PyYAML
Shapely
pyclipper
ninja
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
